body {
    background-color: #999;
}

p {
    font-size: 25px;
    color: aqua;
}

.first {
    color: blue;
}


/* komentarai*/

span {
    font-weight: 700
}

.first span {
    background-color: red;
}

.last {
    text-transform: uppercase;
}

.article {
    line-height: 30px;
    letter-spacing: 5px;
    background-color: darkgreen;
    width: 500px;
    font-family: 'Roboto', serif;
    margin: 50px 0 0 100px;
    padding: 50px;
    padding-bottom: 200px;
    border: solid 10px red;
    box-sizing: border-box;
    /* viskas iskyrus margin sukrenta i elemento vidu*/
}


/* margin savtbw veikia keturiom kryptim, pvz. margin:50px tai is visu pusiu bus 50px. kitas variantas margin: _ _ _ _ ( virsus desine apacia kaire). margin: _ _ (virsus/apacia ir desine/kaire), arba konkre2iai margin-left: 50px;*/


/* aukscio ir zemumo margino jokiais budais nedaryti procentais*/


/*padding, praplecia teksta dar giliau nuo margin*/


/* vaikiniai elementai apveldi tevinio elemento savybes*/

.wrapper {
    width: 50%;
    border: 1px solid black;
    margin: 50px 0 0 100px;
    padding: 50px;
    background-color: gold
}

.box {
    width: 100px;
    height: 100px;
    background-color: #abc;
    margin: 10px;
}
